* {
  margin: 0;
}

.header {
  background-color: rgb(50, 167, 145);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.trybewarts-header-logo {
  width: 50px;
}

.trybewarts-login {
  display: inline;
}

.trybewarts-header-title {
  text-align: center;
}

main {
  display: flex;
  justify-content: center;
}

h1 {
  display: flex;
  align-self: center;
  flex-direction: column;
  margin-bottom: 25px;
}

form {
  display: flex;
  flex-direction: column;
}

#evaluation-form {
  margin: 20px;
  width: 675px;
}

#trybewarts-forms-logo {
  height: 500px;
}

.row1 {
  display: flex;
  align-items: center;
  padding: 5px;
}

.row1 input {
  display: flex;
  padding: 8px 0;
  margin-right: 5px;
  width: 45%;
  align-self: center;
}

.row1 label {
  margin-right: 5px;
}

.row1 select {
  display: flex;
  padding: 8px 0;
  width: 45%;
  align-self: stretch;
}

.row2 {
  display: flex;
  justify-content: space-between;
  padding: 5px;
}

#content-row {
  display: flex;
  flex-direction: row;
  padding: 5px 0;
}

#content-row label, .family label {
  padding-left: 6px;
  padding-right: 15px;
}

.family-row {
  padding: 5px 15px 5px 6px;
}

hr {
  margin: 20px 0;
}

.family {
  display: flex;
  flex-direction: column;
}

.content {
  display: flex;
  flex-direction: column;
}

#label-rate {
  margin-right: 15px;
}
