body {
  box-sizing: border-box;
  margin: 0;
}

.header {
  display: flex;
  background-color: rgb(50, 167, 145);
  align-items: center;
  justify-content: space-between;
}

#logo-header {
  height: 100px;
  margin: 10px;
}

.trybewarts-login {
  justify-content: space-between;
}

#trybewarts-header-title {
  font-size: 60px;
  border: 0;
}

#email, #senha {
  border-radius: 3px;
  border: 0;
  margin: 10px;
}

#btn-entrar {
  border-radius: 3px;
  border: 0;
  width: 100px;
  height: 50px;
  margin-right: 15px;
  margin-left: 15px;
}

main,
#evaluation-form {
  display: flex;
}

#evaluation-form {
  width: 675px;
  flex-direction: column;
}

#evaluation-form #name-section {
  display: flex;
  flex-direction: row;
}

#email-house-section {
  display: flex;
}

#contents-section {
  display: flex;
  flex-direction: column;
}

#HoFs,
#SQL,
#React,
#Python,
#Jest {
  display: flex;
}

#trybewarts-forms-logo {
  height: 500px;
}

.trybewarts-login {
  display: flex;
}

#submit-btn {
  width: 75px;
}
