@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: Roboto Mono, monospace;
}

.header {
  display: flex;
  background-color: rgb(50, 167, 145);
}

.trybewarts-login {
  display: flex;
}

#evaluation-form {
  width: 675px;
  display: flex;
  border: solid 1px black;
  flex-direction: column;
  margin: 10px;
}

main {
  display: flex;
  justify-content: space-around;
}

#trybewarts-forms-logo {
  height: 500px;
  margin: 10px;
}

footer {
  background-color: #3d3d3d;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer span {
  color: white;
  font-weight: bold;
}

.formBoxAval {
    margin: 5px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.formBoxText ,  .formBoxCheck, .formBoxButton {
    margin: 5px 30px;
    text-align: center;
}

.textarea {
    margin: auto;
}

hr {
    margin: 2px 30px;
    width: auto;
}

#submit-btn {
    width: 80%;
    height: 25px;
    margin: 2px auto;
}