.header {
    display: flex;
    background-color: rgb(50, 167, 145);
    border-style: solid;
    border-color: red;
}

.trybewarts-login {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    border-style: solid;
    border-color: black;
    width: 80%;
    align-content: center;
    
}