* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

.header {
  background-color: rgb(50, 167, 145);
  display: flex;
  justify-content: space-between;
  padding: 10px;
  align-items: center;
}

.trybewarts-header-logo {
  height: 80px;
}

#trybewarts-header-title {
  color: white;
  font-family: Henny Penny, cursive;
  font-size: 40px;
}

.trybewarts-login {
  display: flex;
}

.senha , .email , .entrar {
  margin-right: 20px;
  border-radius: 8px;
  height: 35px;
  width: 145px;
  text-align: center;
}

.entrar {
  background-color: rgb(81, 5, 110);
  color: white;
  cursor: pointer;
}

main {
  display: flex;
  flex-direction: row;
  background-color: rgb(233, 233, 233);
  justify-content: space-around;
}

#evaluation-form {
  display: flex;
  width: 675px;
  flex-direction: column;
  flex-basis: 675px;
  padding: 20px;
  justify-content: stretch;
  align-items: center;
}

#trybewarts-forms-logo {
  height: 500px;
  flex-basis: 500px;
  display: flex;
  flex-direction: row;
  align-self: stretch;
}

#title {
  display: flex;
  width: 675px;
  padding: 20px;
  justify-content: center;
  font-family: Acme, sans-serif;
}

#input-name {
  width: 350px;
  height: 40px;
  border-radius: 7px;
  font-size: 15px;
  margin-right: 20px;
}

#input-lastname {
  width: 350px;
  height: 40px;
  border-radius: 7px;
  font-size: 15px;
}

#input-email {
  width: 350px;
  height: 40px;
  border-radius: 7px;
  font-size: 15px;
  margin-right: 20px;
}

#house {
  width: 230px;
  height: 40px;
  border-radius: 7px;
  font-size: 15px;
}

footer {
  background-color: grey;
  color: white;
  padding: 10px;
  font-size: 20px;
  text-align: center;
}

.familia {
  display: flex;
  flex-direction: column;
  margin-right: 60px;
  width: 250px;
}

.vontade {
  display: flex;
  flex-direction: column;
}

.option {
  font-size: 20px;
  margin-right: 20px;
}

.opcoes {
  display: flex;
  flex-flow: row wrap;
  width: 300px;
}

#label-content , #label-family {
  margin-bottom: 10px;
}

#second {
  display: flex;
  padding: 15px;
  width: 675px;
  justify-content: center;
  margin: 5px;
}

.satisfaction {
  width: 675px;
  font-size: 19px;
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
  padding: 15px;
  margin-left: 10px;
}

.first {
  width: 675px;
  display: flex;
  padding: 15px;
  justify-content: center;
  align-content: space-around;
}

#second div {
  padding: 5px;
  font-size: 19px;
  margin-top: 10px;
}

#comentario {
  font-size: 19px;
  margin-bottom: 10px;
  padding: 20px;
  margin-left: 10px;
}

#textarea {
  margin-top: 10px;
  border: 1px solid purple;
  border-radius: 10px;
  max-width: 675px;
  max-height: 180px;
  padding: 20px;
  font-size: 16px;
}

#submit-btn {
  display: block;
  background-color: rgb(81, 5, 110);
  width: 675px;
  height: 40px;
  border-radius: 8px;
  padding: 4px 8px;
  cursor: pointer;
  color: white;
  margin: 10px auto 2px;
  font-size: 17px;
}

#label-infos {
  font-size: 19px;
  margin: 10px 5px 10px 25px;
}

.contador {
  display: flex;
  justify-content: flex-end;
}
