.header {
  display: flex;
  background-color: rgb(50, 167, 145);
  justify-content: space-between;
}

.header img {
  width: 80px;
}

.trybewarts-login {
  display: flex;
}

#mainContent {
  display: flex;
}

#evaluation-form {
  display: flex;
  flex-direction: column;
  width: 675px;
}

#trybewarts-forms-logo {
  height: 500px;
}

#whoWeCallYou {
  display: flex;
  flex-direction: row;
}

#rate {
  display: flex;
  flex-direction: row;
  align-items: center;
}

footer {
  padding-top: 40px;
  text-align: center;
}
